select{background-color: #fff;background-image: none;border: 1px solid #dedede;border-radius:4px;font-size: 14px;padding: 5px 12px;vertical-align: middle;min-width:100px;-moz-box-sizing: border-box;/* Firefox3.5+*/-webkit-box-sizing: border-box;/* Safari3.2+*/-o-box-sizing: border-box;/* Opera9.6*/-ms-box-sizing: border-box;/* IE8*/box-sizing: border-box;/* W3C*/}
.hand{cursor: pointer}
.rel {position: relative}
.abs {position: absolute}
.fleft{float:left;}
.fright{float:right;}
.center{text-align: center}
.hide{display: none !important}
.show{display: block !important}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.ml15{margin-left:15px}
.pb15{padding-bottom: 15px;}

.f14{font-size: 14px}
.f15{font-size: 15px}
.f16{font-size: 16px}
.f18{font-size: 18px}
.f20{font-size: 20px}

/*弹出的操作面板*/
div.panel, div.dialog, table.panel{/*overflow: hidden;*/background-color: #FFFFFF;border: 1px #DDDDDD solid;margin-top: 8px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;-ms-border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: 0 120 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 120 3px rgba(0, 0, 0, 0.2);}
div.panel > div.header, div.dialog > div.header{border-bottom: 1px solid #DDDDDD;padding: 4px 12px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);font-weight: bold;background-color: #F4F4F4;background-image: -moz-linear-gradient(top, #F7F7F7, #EEEEEE);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#EEEEEE));background-image: -webkit-linear-gradient(top, #F7F7F7, #EEEEEE);background-image: -o-linear-gradient(top, #F7F7F7, #EEEEEE);background-image: linear-gradient(top bottom, #F7F7F7, #EEEEEE);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EEEEEE', GradientType=0);color: #666666;border-top-left-radius: 4px;border-top-right-radius: 4px;-moz-border-top-left-radius: 4px;-moz-border-top-right-radius: 4px;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-ms-border-top-left-radius: 4px;-ms-border-top-right-radius: 4px;text-shadow:1px 1px 0 #FFFFFF;}

/* dialog */
div.dialog-overlay {width: 100%; height: 100%; top: 0; left: 0; top: 0; position: absolute; z-index: 10; background: #BBBBBB; filter:Alpha(Opacity=70); opacity: 0.7; overflow: hidden}
div.dialog {width: 600px; z-index: 11; position: absolute; top: 100px; left: 150px; display: none; margin-top: 0px; box-shadow: 3px 3px 3px #999;  }
div.dialog > div.body { padding:15px; clear: both; overflow: hidden; }
#dialog_box p.body{font-size: 18px; margin: 24px 0px;}
#dialog_box p.body span.icon{font-size: 24px;}

/*绝对定位的提示框*/
.arrow{position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid;content: " ";border-width: 8px;box-sizing: border-box;}
.arrow:after{position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid;content: " ";border-width: 7px;box-sizing: border-box;}
.arrow.top{bottom: -15px;left: 10px;border-top-color: #D83E3E;}
.arrow.top:after{top: -8px;left: -7px;border-top-color: #D83E3E;border-bottom-width: 0;}
.arrow.bottom{top: -15px;left: 10px;border-bottom-color: #D83E3E;}
.arrow.bottom:after{top: 1px;left: -7px;border-bottom-color: #D83E3E;border-top-width: 0;}
.arrow.left{top: 4px;right: -15px;border-left-color: #D83E3E;}
.arrow.left:after{top: -7px;left: -8px;border-left-color: #D83E3E;border-right-width: 0;}
.arrow.right{top: 4px;left: -15px;border-right-color: #D83E3E;}
.arrow.right:after{top: -7px;left: 1px;border-right-color: #D83E3E;border-left-width: 0;}
.popover{/*width: 300px;height: 24px;*/line-height: 24px;padding:5px 10px;background: #D83E3E;position: absolute;color: #fff;border-radius: 3px;font-size: 14px;font-weight: normal;z-index: 2000;}
.popover.color_yellow{/*width: 300px;height: 24px;*/background: #fff6d9;border: 1px solid #DCAC6C;color: #000000;}
.popover.color_yellow > span.arrow.top{border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.top:after{border-bottom-color: #fff6d9;}
.popover.color_yellow > span.arrow.left{border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.left:after{border-bottom-color: #fff6d9;}
.popover.color_yellow > span.arrow.right{border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.right:after{border-bottom-color: #fff6d9;}
.popover.color_yellow > span.arrow.bottom{border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.bottom:after{border-bottom-color: #fff6d9;}

/* page */
.active {font-weight: 800}
.page {padding: 15px 0; overflow: visible; clear: both; text-align: center; line-height:20px;}
.page a, .page a.active{display: inline-block; padding: 8px 13px; margin-right: 2px; color: #333; -webkit-border-radius: 4px; border-radius: 4px; background: #ededed; text-decoration: none}
.page a:hover, .page a.active{color: #fff;  background: #64ACA0; /* transition: background 0.5s ease-in-out 0s */}

/*区分版块的颜色块*/
.nav-1 span{color: rgb(78, 137, 218); background-color: rgb(78, 137, 218)}
.nav-2 span{color: rgb(153, 153, 153); background-color: rgb(153, 153, 153);}
.nav-3 span{color: rgb(198, 176, 227); background-color: rgb(198, 176, 227);}
.nav-4 span{color: rgb(154, 206, 199); background-color: rgb(154, 206, 199);}
.nav-5 span{color: rgb(115, 158, 187); background-color: rgb(115, 158, 187);}
.nav-6 span{color: rgb(231, 104, 46); background-color: rgb(231, 104, 46);}
.nav-7 span{color: rgb(153, 153, 153); background-color: rgb(153, 153, 153);}
.nav-8 span{color: rgb(153, 153, 153); background-color: rgb(153, 153, 153);}

.form, .form2{width:100%}
.ipt{background-color:#fff; border:1px solid #ddd;}
table.tlist td{padding:5px}
table.tlist > tbody > tr:hover, table.tlist > tr:hover, table.tborder > tbody > tr:hover, table.tborder > tr:hover {background: #F4F4F4;}
/*鼠标划过显示新帖数*/
#header i.newthreads {display: hidden}
#header:hover i.newthreads {display: inline;}
i.newthreads{position:absolute;right:0;top:5px;background:#fdd;color:#d66;border-radius:8px;display:none;padding:1px 4px;line-height:1;font-size:12px;font-weight:normal;}

.item-subscription i{line-height: 20px}
.avatar_upload{width: 96px; height: 96px;}

/*返回顶部*/
#scroll_top{width: 45px; height: 45px; position: fixed; bottom: 150px; right: 290px; display: none; cursor: pointer; background: url(../img/scroll_top.png); background-size: cover;}

.Badge--group--Admin{background-color: rgb(183, 42, 42)}

.agrees_0 {color: #C7C7C7 !important}
.agrees_1 {color: #80C2A7 !important}
.agrees_2 {color: #E8A87A !important}
.agrees_3 {color: #DA8ECB !important}
.agrees_4 {color: #DA8ECB !important}

h3.thread_agrees_1 {color: #009155}
h3.thread_agrees_2 {color: #EA6100}
h3.thread_agrees_3 {color: #DA24A7; font-weight: 800;}
h3.thread_agrees_4 {color: #DA24A7; font-weight: 800;}
h3.thread_top_1, h3.thread_top_2, h3.thread_top_3{font-weight: 800;}

.item-pic span{background: #000 none repeat scroll 0 0;border-bottom-right-radius: 2px;border-top-right-radius: 2px;height: 27px;opacity: 0.7!important;color: #fff;left: 0;line-height: 27px;position: absolute;top: 65px;width: 60px;text-align: center;}